In [10]:
import pandas as pd 
import numpy as np

In [2]:
calcium_df = pd.read_csv("calcium.csv")
reference_df = pd.read_csv("calciumcorrect.csv")
reference_df.columns

Index(['OBSNO', 'variable', 'problem', 'correct'], dtype='object')

In [3]:
# Removing key errors

reference_df = reference_df.replace('phosmol', 'phosmmol')
reference_df = reference_df.replace('Phosmol', 'phosmmol')

reference_df

    OBSNO  variable  problem  correct
0      11       age      771       71
1      53       age      699       69
2     123       age      730       73
3      28       sex       22        2
4     120       sex       11        1
5     173       sex       22        2
6      21    cammol      3.2      2.2
7      25    cammol     25.3     2.53
8      26    cammol       20        2
9      27    cammol     22.3     2.23
10     28    cammol     24.3     2.43
11     29    cammol       25      2.5
12     30    cammol     23.3     2.33
13     31    cammol       24      2.4
14     32    cammol       25      2.5
15     33    cammol       25      2.5
16     34    cammol     23.5     2.35
17     35    cammol     22.5     2.25
18     36    cammol     24.5     2.45
19     37    cammol    23.33     2.33
20    149    cammol     1.05     2.05
21      6       lab       43        4
22     78       lab       21        2
23     32  phosmmol     3.21     1.23
24    108  phosmmol     0.09      0.9
25    132  phosmmol     8.84     0.84
26    176  phosmmol     2.16     1.26
27     22   alkphos  Missing       64
28     60   alkphos      9.7       97
29     79  agegroup  Missing        4
30     42  phosmmol  Missing  Missing
31    105       age  Missing  Missing
32    170       lab  Missing  Missing
33     85    cammol  Missing  Missing

In [12]:
# Replacing it with correct values

for i in range(len(reference_df)):
    obs = reference_df.iloc[i][0]
    var = reference_df.iloc[i][1]
    correct_value = reference_df.iloc[i][3]
    calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value

calcium_df = calcium_df.replace("Missing", np.NaN)
print(calcium_df.shape)
calcium_df = calcium_df.dropna()
print(calcium_df.shape)

(178, 8)
(174, 8)

In [13]:
calcium_df.to_csv("check.csv")

In [23]:
calcium_df[['SEX', 'LAB', 'AGEGROUP']].describe()

        SEX  LAB AGEGROUP
count   174  174      174
unique    4    6        6
top       1    1     2.00
freq     90   86       69

In [26]:
calcium_df.groupby('SEX')