In [1]:
import pandas as pd 
import numpy as np

In [2]:
calcium_df = pd.read_csv("calcium.csv")
reference_df = pd.read_csv("calciumcorrect.csv")
calcium_df.info()
reference_df.info()

calcium_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 178 entries, 0 to 177
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OBSNO     178 non-null    int64
 1   AGE       178 non-null    object
 2   SEX       178 non-null    int64
 3   ALKPHOS   178 non-null    object
 4   LAB       178 non-null    object
 5   CAMMOL    178 non-null    object
 6   PHOSMMOL  178 non-null    object
 7   AGEGROUP  178 non-null    object
dtypes: int64(2), object(6)
memory usage: 11.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OBSNO     34 non-null     int64
 1   variable  34 non-null     object
 2   problem   34 non-null     object
 3   correct   34 non-null     object
dtypes: int64(1), object(3)
memory usage: 1.2+ KB

     OBSNO AGE  SEX ALKPHOS LAB CAMMOL PHOSMMOL AGEGROUP
0        1  78    2      83   4   2.53     1.07     3.00
1        2  72    2     117   4   2.50     1.16     2.00
2        3  72    2     132   4   2.43     1.13     2.00
3        4  73    2     102   4   2.48     0.81     2.00
4        5  73    2     114   4   2.33     1.13     2.00
..     ...  ..  ...     ...  ..    ...      ...      ...
173    174  72    2     138   3   2.45     1.07     2.00
174    175  71    2     115   3   2.18     1.10     2.00
175    176  67    2      84   6   2.30     2.16     1.00
176    177  77    2      83   4   2.65     0.97     3.00
177    178  70    2     124   4   2.50     0.97     2.00

[178 rows x 8 columns]

In [3]:
# Removing key errors

reference_df = reference_df.replace('phosmol', 'phosmmol')
reference_df = reference_df.replace('Phosmol', 'phosmmol')
calcium_df = calcium_df.replace('PSHOM', 'phosmmol')

reference_df

    OBSNO  variable  problem  correct
0      11       age      771       71
1      53       age      699       69
2     123       age      730       73
3      28       sex       22        2
4     120       sex       11        1
5     173       sex       22        2
6      21    cammol      3.2      2.2
7      25    cammol     25.3     2.53
8      26    cammol       20        2
9      27    cammol     22.3     2.23
10     28    cammol     24.3     2.43
11     29    cammol       25      2.5
12     30    cammol     23.3     2.33
13     31    cammol       24      2.4
14     32    cammol       25      2.5
15     33    cammol       25      2.5
16     34    cammol     23.5     2.35
17     35    cammol     22.5     2.25
18     36    cammol     24.5     2.45
19     37    cammol    23.33     2.33
20    149    cammol     1.05     2.05
21      6       lab       43        4
22     78       lab       21        2
23     32  phosmmol     3.21     1.23
24    108  phosmmol     0.09      0.9
25    132  phosmmol     8.84     0.84
26    176  phosmmol     2.16     1.26
27     22   alkphos  Missing       64
28     60   alkphos      9.7       97
29     79  agegroup  Missing        4
30     42  phosmmol  Missing  Missing
31    105       age  Missing  Missing
32    170       lab  Missing  Missing
33     85    cammol  Missing  Missing

In [4]:
# Replacing it with correct values

for i in range(len(reference_df)):
    obs = reference_df.iloc[i][0]
    var = reference_df.iloc[i][1]
    correct_value = reference_df.iloc[i][3]
    calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value

# Removing NULL / NA / Missing values

calcium_df = calcium_df.replace("Missing", np.NaN)
print(calcium_df.shape)
calcium_df = calcium_df.dropna()

(178, 8)
(174, 8)
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value
<ipython-input-4-2e42bf8fe08a>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  calcium_df[var.upper()][calcium_df['OBSNO'] == obs] = correct_value

     OBSNO    AGE    SEX  ALKPHOS    LAB  CAMMOL  PHOSMMOL  AGEGROUP
0    False  False  False    False  False   False     False     False
1    False  False  False    False  False   False     False     False
2    False  False  False    False  False   False     False     False
3    False  False  False    False  False   False     False     False
4    False  False  False    False  False   False     False     False
..     ...    ...    ...      ...    ...     ...       ...       ...
173  False  False  False    False  False   False     False     False
174  False  False  False    False  False   False     False     False
175  False  False  False    False  False   False     False     False
176  False  False  False    False  False   False     False     False
177  False  False  False    False  False   False     False     False

[174 rows x 8 columns]

In [5]:
# Changing the dtype of the columns to 
calcium_df[['AGE', 'LAB']] = calcium_df[['AGE', 'LAB']].astype('int64')
calcium_df[['ALKPHOS', 'CAMMOL', 'PHOSMMOL', 'AGEGROUP']] = calcium_df[['ALKPHOS', 'CAMMOL', 'PHOSMMOL', 'AGEGROUP']].astype('float64')

calcium_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 174 entries, 0 to 177
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   OBSNO     174 non-null    int64
 1   AGE       174 non-null    int64
 2   SEX       174 non-null    object
 3   ALKPHOS   174 non-null    float64
 4   LAB       174 non-null    int64
 5   CAMMOL    174 non-null    float64
 6   PHOSMMOL  174 non-null    float64
 7   AGEGROUP  174 non-null    float64
dtypes: float64(4), int64(3), object(1)
memory usage: 12.2+ KB

In [6]:
calcium_df.to_csv("check.csv")

In [7]:
calcium_df[['SEX', 'LAB', 'AGEGROUP']].describe()
calcium_df

     OBSNO  AGE SEX  ALKPHOS  LAB  CAMMOL  PHOSMMOL  AGEGROUP
0        1   78   2     83.0    4    2.53      1.07       3.0
1        2   72   2    117.0    4    2.50      1.16       2.0
2        3   72   2    132.0    4    2.43      1.13       2.0
3        4   73   2    102.0    4    2.48      0.81       2.0
4        5   73   2    114.0    4    2.33      1.13       2.0
..     ...  ...  ..      ...  ...     ...       ...       ...
173    174   72   2    138.0    3    2.45      1.07       2.0
174    175   71   2    115.0    3    2.18      1.10       2.0
175    176   67   2     84.0    6    2.30      1.26       1.0
176    177   77   2     83.0    4    2.65      0.97       3.0
177    178   70   2    124.0    4    2.50      0.97       2.0

[174 rows x 8 columns]

In [11]:
# For the variables alkphos, cammol and phosmmol, report the mean, median, standard deviation, min and max broken down by sex

print("Description of columns \n")
# Max, Min, 
display(calcium_df[['ALKPHOS', 'CAMMOL', 'PHOSMMOL', 'SEX']].groupby('SEX').describe())

print("Median  of the colummns by SEX\n")

display(calcium_df[['ALKPHOS', 'CAMMOL', 'PHOSMMOL', 'SEX']].groupby('SEX').median())

Description of columns

    ALKPHOS                                                         CAMMOL  \
      count       mean        std   min    25%   50%     75%    max  count
SEX
1      90.0  85.844444  23.112286  42.0  71.00  83.0   97.00  168.0   90.0
2      81.0  99.259259  35.954756  43.0  72.00  92.0  117.00  219.0   81.0
1       1.0  83.000000        NaN  83.0  83.00  83.0   83.00   83.0    1.0
2       2.0  68.500000   4.949747  65.0  66.75  68.5   70.25   72.0    2.0

               ...               PHOSMMOL                                    \
         mean  ...     75%   max    count      mean       std   min     25%
SEX            ...
1    2.320000  ...  2.4000  2.58     90.0  1.057111  0.182284  0.52  0.9100
2    2.400123  ...  2.5000  2.75     81.0  1.139012  0.158166  0.81  1.0300
1    2.150000  ...  2.1500  2.15      1.0  1.260000       NaN  1.26  1.2600
2    2.315000  ...  2.3725  2.43      2.0  1.305000  0.162635  1.19  1.2475


       50%     75%   max
SEX
1    1.070  1.1900  1.42
2    1.130  1.2300  1.61
1    1.260  1.2600  1.26
2    1.305  1.3625  1.42

[4 rows x 24 columns]

Median  of the colummns by SEX

     ALKPHOS  CAMMOL  PHOSMMOL
SEX
1       83.0   2.330     1.070
2       92.0   2.400     1.130
1       83.0   2.150     1.260
2       68.5   2.315     1.305

In [12]:
# For the variables alkphos, cammol and phosmmol, report the mean, median, standard deviation, min and max broken down by lab

print("Description of columns \n")
# Max, Min, 
display(calcium_df[['ALKPHOS', 'CAMMOL', 'PHOSMMOL', 'LAB']].groupby('LAB').describe())

print("Median  of the colummns by LAB\n")

display(calcium_df[['ALKPHOS', 'CAMMOL', 'PHOSMMOL', 'LAB']].groupby('LAB').median())

Description of columns

    ALKPHOS                                                           CAMMOL  \
      count        mean        std   min    25%    50%     75%    max  count
LAB
1      86.0   93.767442  30.739005  50.0  72.25   85.0  109.25  219.0   86.0
2      41.0   88.951220  24.401794  54.0  75.00   85.0   97.00  168.0   41.0
3      16.0   83.375000  30.938380  42.0  60.75   72.5  110.50  138.0   16.0
4      14.0  118.428571  36.575978  83.0  90.00  111.0  130.00  213.0   14.0
5      11.0   70.636364  18.784423  45.0  57.50   67.0   83.00  111.0   11.0
6       6.0   84.333333  26.257697  57.0  64.00   78.5  102.75  122.0    6.0

               ...               PHOSMMOL                                    \
         mean  ...     75%   max    count      mean       std   min     25%
LAB            ...
1    2.316163  ...  2.4000  2.70     86.0  1.101395  0.173606  0.77  0.9700
2    2.425854  ...  2.4800  2.75     41.0  1.129268  0.157550  0.87  1.0000
3    2.351875  ...  2.4625  2.53     16.0  1.036250  0.158277  0.84  0.9300
4    2.445000  ...  2.5225  2.65     14.0  1.034286  0.194609  0.65  0.8725
5    2.301818  ...  2.3400  2.63     11.0  1.084545  0.261586  0.52  0.9850
6    2.360000  ...  2.4000  2.48      6.0  1.210000  0.089889  1.10  1.1675


       50%     75%   max
LAB
1    1.130  1.2300  1.61
2    1.130  1.2300  1.42
3    1.020  1.1150  1.42
4    1.085  1.1525  1.32
5    1.130  1.1950  1.49
6    1.190  1.2425  1.36

[6 rows x 24 columns]

Median  of the colummns by LAB

     ALKPHOS  CAMMOL  PHOSMMOL
LAB
1       85.0   2.300     1.130
2       85.0   2.400     1.130
3       72.5   2.375     1.020
4      111.0   2.465     1.085
5       67.0   2.250     1.130
6       78.5   2.375     1.190